# Forge Atlas ownership rules

* @ironjesus74-a11y

.github/ @ironjesus74-a11y
wrangler.toml @ironjesus74-a11y
workers/ @ironjesus74-a11y
functions/ @ironjesus74-a11y
db/ @ironjesus74-a11y

public/js/emery.js @ironjesus74-a11y
public/css/emery.css @ironjesus74-a11y
