---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for entry in platform.pages %}  <url>
    <loc>{{ entry.url | absoluteUrl }}</loc>
    <lastmod>{{ platform.released }}</lastmod>
    <changefreq>{{ entry.changefreq }}</changefreq>
    <priority>{{ entry.priority }}</priority>
  </url>
{% endfor %}</urlset>
